<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEezfHtUZtwRrMzDvpV1eXlkhdJ2ZtRG_CrA&usqp=CAU"
      cardTitle="Título da Noticia"
      cardDescription="Descrição da Noticia"
    ></app-big-card>
  </div>

  <div class="articles__others">

    <app-small-card
      cardTitle="Titulo da noticia sugerida"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEezfHtUZtwRrMzDvpV1eXlkhdJ2ZtRG_CrA&usqp=CAU"
    ></app-small-card>

    <app-small-card
      cardTitle="Titulo da noticia sugerida 2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEezfHtUZtwRrMzDvpV1eXlkhdJ2ZtRG_CrA&usqp=CAU"
    ></app-small-card>
    
    <app-small-card
      cardTitle="Titulo da noticia sugerida 3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEezfHtUZtwRrMzDvpV1eXlkhdJ2ZtRG_CrA&usqp=CAU"
    ></app-small-card>

  </div>
</div>
